/*Reset start*/
body, html div, h1
{
    padding: 0;
    margin: 0;
}
*
{
    font-family: Arial, Helvetica, sans-serif;
}
/*Reset end*/

body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 30px;
}

.main-title
{
    font-size: 25px;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}
.wrapeer-output
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    background-color: gray;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}
.output-numbers
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    text-align: justify;
}
.input-numbers
{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.25s;
}
.input-numbers:hover
{
    border: 1px solid #769ac4;
    transition: 0.25s;
}
.input-numbers:focus
{
    outline: none;
    border: 1px solid #769ac4;
    transition: 0.25s;
}
.restore-button
{
    background-color: black;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.restore-button:hover
{
    background-color: #fff;
    color: black;
    transition: 0.3s;
}
.output-numbers::-webkit-scrollbar
{
    width: 10px;
    border-radius: 10px;
}
.output-numbers::-webkit-scrollbar-thumb
{
    background-color: #282A35;
    border-radius: 10px;
}
.output-numbers::-webkit-scrollbar-thumb:hover
{
    background-color: #505469;
}